[submodule "iarc_simulation_tools"]
	path = iarc_simulation_tools
	url = git@github.com:AerialRobotics-IITK/iarc_simulation_tools
[submodule "iarc_detection_modules"]
	path = iarc_detection_modules
	url = git@github.com:AerialRobotics-IITK/iarc_detection_modules
[submodule "iarc_avoidance"]
	path = iarc_avoidance
	url = git@github.com:AerialRobotics-IITK/iarc_avoidance
[submodule "iarc_trajectory_estimation"]
	path = iarc_trajectory_estimation
	url = git@github.com:AerialRobotics-IITK/iarc_trajectory_estimation
[submodule "iarc_controls"]
	path = iarc_controls
	url = git@github.com:AerialRobotics-IITK/iarc_controls
[submodule "rosflight"]
	path = rosflight
	url = git@github.com:rosflight/rosflight.git
	branch = master
[submodule "rosflight_plugins"]
	path = rosflight_plugins
	url = git@github.com:byu-magicc/rosflight_plugins.git
	branch = master
[submodule "iarc-rosplane"]
	path = iarc-rosplane
	url = git@github.com:AerialRobotics-IITK/iarc-rosplane.git
	branch = feature/rosplane_dubins
