[submodule "iarc_simulation_tools"]
	path = iarc_simulation_tools
	url = git@github.com:AerialRobotics-IITK/iarc_simulation_tools
[submodule "iarc_detection_modules"]
	path = iarc_detection_modules
	url = git@github.com:AerialRobotics-IITK/iarc_detection_modules
[submodule "iarc_avoidance"]
	path = iarc_avoidance
	url = git@github.com:AerialRobotics-IITK/iarc_avoidance
[submodule "iarc_trajectory_estimation"]
	path = iarc_trajectory_estimation
	url = git@github.com:AerialRobotics-IITK/iarc_trajectory_estimation
