<?xml version="1.0"?>
<launch>
    <arg name="agent_name" default="firefly"/>
    <arg name="agent_type" default="iris"/>

    <include file="$(find agent_state_machine)/launch/utilities.launch"></include>

    <group ns="$(arg agent_name)">
        <node pkg="agent_state_machine" type="agent_state_machine_node" name="agent_state_machine" output="screen">

            <!-- <AgentStateMachine> -->
            <rosparam file="$(find agent_state_machine)/cfg/params.yaml" command="load"/>
            <remap from="odometry"              to="odometry_sensor1/odometry"/>
            <remap from="odom"                  to="odometry_sensor1/odometry" />
            <remap from="pose"                  to="command/pose" />

            <!-- <PlateDetector> -->
            <!-- <rosparam file="$(find plate_detector)/config/param.yaml" /> -->
            <!-- <remap from="image_raw"             to="camera_rgb/image_raw" /> -->
            
            <!-- <PoseEstimator> -->
                <!-- <rosparam file="$(find pose_estimator)/config/param.yaml" /> -->
                <!-- <remap from="corners"               to="plate_detector_node/corners"/> -->
                
                <!-- <MastFinder> -->
            <rosparam file="$(find mast_finder)/config/param.yaml" />
            <remap from="centre_coord"          to="plate_detector_node/centre_coord" />
            <remap from="front_coord"           to="plate_pose_estimator_node/front_coord" />
            <remap from="estimated_coord"       to="plate_pose_estimator_node/estimated_coord" />
            <remap from="trajectory"            to="command/trajectory" />
            <remap from="yaw_correction"        to="plate_pose_estimator_node/yaw_correction" />
            <remap from="plate_front_vec"       to="plate_pose_estimator_node/plate_front_vec" />
        </node>
    </group>
</launch>