<?xml version="1.0"?>
<launch>
    <arg name="agent_name" default="iris"/>
    <arg name="agent_type" default="iris_fpv_cam"/>

    <arg name="carrier_name" default="raptor"/>
    <arg name="carrier_type" default="generic_quadplane"/>

    <arg name="world_name" default="integrated"/>

    <include file="$(find iarc_mission_nine)/launch/env.launch">
        <arg name="agent_name" value="$(arg agent_name)"/>
        <arg name="agent_type" value="$(arg agent_type)"/>
        <arg name="carrier_name" value="$(arg carrier_name)"/>
        <arg name="carrier_type" value="$(arg carrier_type)"/>
        <arg name="world_name" value="$(arg world_name)"/>
    </include>

    <include file="$(find iarc_mission_nine)/launch/agent.launch">
        <arg name="agent_name" value="$(arg agent_name)"/>
        <arg name="agent_type" value="$(arg agent_type)"/>
    </include>

    <include file="$(find iarc_mission_nine)/launch/carrier.launch">
        <arg name="carrier_name" value="$(arg carrier_name)"/>
        <arg name="carrier_type" value="$(arg carrier_type)"/>
    </include>

</launch>
